@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  background-color: #ffa1c3;
  background-size: 69%;
  background-image: linear-gradient(
      rgba(0.2, 0.2, 0, 0.0),
      rgba(0.2, 0.2, 0, 0.0)
    ), url(img/fondo-cua2.jpg);
  background-repeat: repeat repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  margin: 50px;
}
/* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*/

h1, h2 {
    color:#000;
    font-family: 'Lato' sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-family: 'Lato' sans-serif;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #000;
    margin: 0
}




a{
    color: #0478ba;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

ul li a {
  color: #272727;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all .5s
}

a:hover {
  background-color: #e91e63;
  color:white;
}

a:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s
}

a:hover:before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

a:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

a:hover:after {
  opacity: 1;
  top: -8px;
  right: -8px;
}


.menu{
    padding: 30px;
}


.message-box{
    padding: 30px;
    position: relative;
    background-color: #98cafa;
    border-right: 5px solid #649fd9;
    border-radius: 15px;
    box-shadow: 0 0 60px rgb(0 0 0 / 8%);
}




/*******************************/
/******* Inicio ********/
/*******************************/

.fondo-inicio{
    
}

.main-banner{
  height: 100%;
  position: relative;
}

.main-banner{
  display: grid;
  width: 100%;
  text-align: center;
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 0;
    opacity: .6;
}
.inicio__heading{
color: #000;
font-family: 'Lato' sans-serif;
display: table-cell;
vertical-align: middle;
position: relative;
z-index: 1;
}


.inicio__heading h1{
color: #000;
font-weight: 700;
font-size: 62px;
text-transform: uppercase;
}
.inicio__heading p{
font-size: 18px;
padding: 20px 0px;
}

.inicio__heading h3{
color: #000;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
  color: #000;
  font-size: 30px;
}
.cd-headline.clip span b{
  text-transform: uppercase;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
  color: #000;
  font-size: 30px;
}
.cd-headline.clip span b{
  text-transform: uppercase;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}




/*******************************/
/******* Experiencia ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.titulo-sobremi {
    color: #0478ba;

}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #1684c4;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    border: 2px solid #1684c4;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #649fd9;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #649fd9 transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #1684c4;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    position: relative;
    background-color: #98cafa;
    border-right: 5px solid #649fd9;
    border-radius: 15px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #649fd9;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #649fd9 transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #649fd9;
    }
}